<div id="particles-js">
  <div class="header">
      <h1>
          <span class="site-title">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" a href="mailto:desultisoft@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/mides/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/desultisoft"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
          <a class="link" href="https://www.desultisoft.com/">Home</a>
          <a class="link" href="/about">About</a>
      </div>
  </div>
</div>
