<div class="user-details">
    <h1> Projects </h1>
</div>

<div class="user-projects">

    <div class="images-left">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>

    <div class="contents-right">
        <h3> SomeGame </h3>

        <ul>
            <li> <strong>Become a Tycoon</strong></li>
        </ul>
        <p>Buy up land to build the business empire of your dreams</p>

        <ul>
            <li> <strong>Work your way to the top</strong></li>
        </ul>
        <p>Carefully build up your businesses for success including staffing your businesses with characters like janitors, valets, and chefs</p>

        <ul>
            <li> <strong>Customize your style</strong></li>
        </ul>
        <p>Manage your aesthetic choices to attract more and more prodigious customers </p>

        <a class="project-link" href="/games/CityBlockBuilder">Check it out</a>
    </div>

</div>
