<!DOCTYPE html>
<html lang="en">
  {% include head.html %}



<body>
    <style>
        .demo-zone {
            text-align: center;
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
    <style>
        hr {
            border: 0;
            height: 1px;
            background-color: black; /* Change the color to your preference */
            margin: 10px 0; /* Adjust margin as needed */
        }
    </style>
    {% include header.html %}

    <div class="demo-zone">
        <header>
            <h1 class="entry-title"> {{ page.title }}</h1>
        </header>
        <hr>
        {{ content }}
    </div>
    {% include footer.html %}
</body>
